:root {

    /** Color palette */
    --snow: #fbfbfb;
    --clouds: #f1f1f1;
    --concrete: #c3c3c3;
    --stone: #a2abab;
    --charcoal: #4f4c4c;
    --matcha: #91ac6b;
    --matcha-highlight: #b1ce88;

    /** Typography */
    --font-system-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-body-copy: Rubik, var(--font-system-stack);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

html {
    font: 400 1rem/1.65 var(--font-body-copy);
    text-rendering: optimizeLegibility;
    background-color: var(--clouds);
    color: var(--stone);
}

a, a:link, a:visited {
    font-weight: inherit;
    text-decoration: none;
    color: var(--matcha);
}

a:hover {
    color: var(--matcha-highlight);
}

a:active {
    color: var(--charcoal);
    border-bottom: 1px dotted var(--stone);
}

h1, h2, h3, h4 {
    font-weight: 700;
    line-height: 1.1;
    color: var(--charcoal);
}

button {
    font: inherit;
    cursor: pointer;
}