:root {

    /** Color palette */
    --snow: #fbfbfb;
    --clouds: #f1f1f1;
    --concrete: #c3c3c3;
    --stone: #a2abab;
    --charcoal: #4f4c4c;
    --matcha: #91ac6b;
    --matcha-highlight: #b1ce88;

    /** Typography */
    --font-system-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-body-copy: Rubik, var(--font-system-stack);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

html {
    font: 400 1rem/1.65 var(--font-body-copy);
    text-rendering: optimizeLegibility;
    background-color: var(--clouds);
    color: var(--stone);
}

a, a:link, a:visited {
    font-weight: inherit;
    text-decoration: none;
    color: var(--matcha);
}

a:hover {
    color: var(--matcha-highlight);
}

a:active {
    color: var(--charcoal);
    border-bottom: 1px dotted var(--stone);
}

h1, h2, h3, h4 {
    font-weight: 700;
    line-height: 1.1;
    color: var(--charcoal);
    text-align: center;
}

h1 {
    font-size: clamp(2.75rem, 6vw, 3.25rem);
}

h2 {
    font-size: clamp(2.25rem, 7vw, 2.65rem);
}

h3 {
    font-size: clamp(1.75rem, 8vw, 2.25rem);
}

h3, h4, .modal-content button {
    margin: 1.5rem 0;
}

ul {
    list-style: none;
}

p {
    margin: 1.5rem 0;
    padding: 0.25rem;
}

button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
}

.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 960px;
}

.gameboard {
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
}

.game-stats, .game-controllers {
    margin: 1.5rem 0;
}

.game-stats dl, .game-controllers ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.game-stats-column {
    border-radius: 12px;
    box-shadow: 2px 2px 0 var(--concrete);
    background-color: var(--snow);
}

.game-stats-column dt, .game-stats-column dd {
    padding: 0.25rem 0;
}

.game-stats-column dt {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--charcoal);
    color: var(--snow);
}

.game-stats-column dd {
    font-size: 2.5rem;
    font-weight: 700;
}

.status-message {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 12px;
    box-shadow: 1px 1px 0px var(--concrete);
    border-left: 3px solid var(--matcha);
    border-right: 3px solid var(--matcha);
    background-color: var(--charcoal);
    color: var(--snow);
}

.rock-btn i, .paper-btn i, .scissors-btn i,
.rock-btn span, .paper-btn span, .scissors-btn span {
    display: block;
    transition: all 0.35s ease-in-out 0.15s;
    text-align: center;
}

.rock-btn i, .paper-btn i, .scissors-btn i {
    font-size: 3rem;
    text-shadow: 2px 2px 0px var(--concrete);
    color: var(--matcha);
}

.rock-btn:hover i, .paper-btn:hover i, .scissors-btn:hover i {
    text-shadow: 2px 2px 0 var(--snow);
    color: var(--matcha-highlight);
}

.rock-btn:hover i, .paper-btn:hover i {
    transform: rotate(90deg);
}

.scissors-btn i {
    transform: rotate(90deg);
}

.scissors-btn:hover i {
    transform: rotate(180deg);
}

.rock-btn span, .paper-btn span, .scissors-btn span {
    margin: 0.5rem 0;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: var(--stone);
}

.rock-btn:hover span, .paper-btn:hover span, .scissors-btn:hover span {
    color: var(--charcoal);
}

.game-source-code {
    margin: 0.5rem 0;
}

.game-source-code p {
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    box-shadow: 2px 2px 0px var(--concrete);
    background-color: var(--charcoal);
    color: var(--concrete);
}

#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

#modal {
    position: fixed;
    inset: 0;
    max-width: none;
    width: 100%;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: transparent;
}

.modal-content {
    padding: 1.5rem;
    border-radius: 12px;
    background-color: var(--snow);
    max-width: 380px;
}

.trophy-icon {
    font-size: 2.5rem;
    display: block;
    text-align: center;
    color: var(--matcha);
}

.modal-content ol {
    display: block;
    margin: 0 auto;
}

.modal-content ol li {
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    color: var(--stone);
    text-align: center;
}

.modal-content ol li span:first-child i {
    color: var(--matcha);
}

#close-modal {
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 2px 2px 0 var(--concrete);
    background-color: var(--charcoal);
    color: var(--stone);
    transition: all 0.35s ease-in-out 0.15s;
}

#close-modal:hover {
    color: var(--snow);
}

#close-modal:hover i {
    color: var(--matcha-highlight);
}

#close-modal i {
    color: var(--matcha);
}

@media (min-width: 768px) {
    .rock-btn i, .paper-btn i, .scissors-btn i {
        font-size: 6.5rem;
    }
}
